<div class="whiteBox">
  <h1>Player Status - Game {{game}}</h1>
  <a [routerLink]="['/status/game/1']" [ngClass]="{'bold': game==1}">Game 1</a> | <a [routerLink]="['/status/game/2']" [ngClass]="{'bold': game==2}">Game 2</a> | <a [routerLink]="['/status/game/3']" [ngClass]="{'bold': game==3}">Game 3</a>
  <table>
    <thead>
      <tr>
        <td>Player Name</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{player.name}}</td>
        <td>
          <button (click)="setStatus(player._id, 'Playing')" [ngClass]="{'greenback': player.statuses[game-1] === 'Playing'}">Playing</button>
          <button (click)="setStatus(player._id, 'Not Playing')" [ngClass]="{'redback': player.statuses[game-1] === 'Not Playing'}">Not Playing</button>
          <button (click)="setStatus(player._id, 'Undecided')" [ngClass]="{'yellowback': player.statuses[game-1] === 'Undecided'}">Undecided</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>