<html>
    <head>
        <title>Amadon.com</title>
    </head>
    <style>
        body > *{
            margin-left:20px;
        }
        a{
            display: block;
        }
        p{
            margin-left:40px;
        }
    </style>
    <body>
        <h1>Thank you for your business!</h1>
        <p>We charged your credit card for ${{session.last_charge}}</p>
        <p>You have ordered {{session.counter}} items so far and spent ${{session.spent}} with Amadon.com!</p>
        <a href="/amadon">Go back</a>
    </body>
</html