.col{
    display:inline-block;
    vertical-align: top;
}
.whiteBox{
    border: 1px solid black;
}
img{
    width:400px;
    height:400px;
}

.greentext{
    color:green;
}
.redtext{
    color:red;
}