<html>
    <head>
        <title>Sample Typesetting Exercise</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1>Header</h1>
                <h2>Subtitle</h2>
            </header>
            <nav class="md-gone">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Videos</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Something</a></li>
                    <li><a href="#">Something more...</a></li>
                    <li><a href="#">Something even more...</a></li>
                </ul>
            </nav>
            <div class="row">
                <div class="column lg-3 md-4">
                    <h2>Coffee Ipsum</h2>
                    <p>Blue mountain steamed organic cinnamon, instant frappuccino variety carajillo percolator decaffeinated. Doppio dripper, carajillo steamed medium in lungo. Flavour, coffee, coffee mug grounds single shot in crema.Blue mountain steamed organic cinnamon, instant frappuccino variety carajillo percolator decaffeinated. Doppio dripper, carajillo steamed medium in lungo. Flavour, coffee, coffee mug grounds single shot in crema.</p>
                </div>
                <div class="column lg-3 md-4">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="column lg-3 md-4">
                    <h2>Baby Ipsum</h2>
                    <p>Googoo gaga gaga da gaagaa doo laa ga gaga laalaa gaga goo. Doo doo yaya goo googoo ga da googoo da.Googoo gaga gaga da gaagaa doo laa ga gaga laalaa gaga goo. Doo doo yaya goo googoo ga da googoo da.Googoo gaga gaga da gaagaa doo laa ga gaga laalaa gaga goo. Doo doo yaya goo googoo ga da googoo da.Googoo gaga gaga da gaagaa doo laa ga gaga laalaa gaga goo. Doo doo yaya goo googoo ga da googoo da.Googoo gaga gaga da gaagaa doo laa ga gaga laalaa gaga goo. Doo doo yaya goo googoo ga da googoo da.Googoo gaga gaga da gaagaa doo laa ga gaga laalaa gaga goo. Doo doo yaya goo googoo ga da googoo da.</p>
                </div>
                <div class="column lg-3 md-12">
                    <h2>Zombie Ipsum</h2>
                    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies.</p>
                </div>
            </row>
        </div>
    </body>
</html>