{% extends "base.html" %}
{% block content %}
    <h1>
        {% if is_admin %}
            Manage Users
        {% else %}
            All Users
        {% endif %}
    </h1>
    {% if is_admin %}
        <a href="/users/new"><button>Add new</button></a>
    {% endif %}
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Email</td>
                <td>Created At</td>
                <td>User Level</td>
                {% if is_admin %}
                    <td>Actions</td>>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}}} {{user.last_name}}</td>
                    <td>{{user.email}}}</td>
                    <td>{{user.created_at}}</td>
                    <td>{{user.user_level}}</td>
                    {% if is_admin %}
                        <td>
                            <a href="/users/edit/{{user.id}}">Edit</a> | <a href="/users/remove/{{user.id}}">Remove</a>
                        </td>>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}