{% extends "base.html" %}
{% block content %}
    <div class="welcome">
        <h1>Welcome to the Test</h1>
        <p>We're going to build a cool application using a MVC framework! This application was built with the Django framework!</p>
        <a href="/signin"><button>Start</button></a>
    </div>
    <div>
        <div class="col">
            <h2>Manage Users</h2>
            <p>Using this application, you'll learn how to add, remove, and edit users for the application.</p>
        </div>
        <div class="col">
            <h2>Leave messages</h2>
            <p>Users will be able to leave a message to another user using this application.</p>
        </div>
        <div class="col">
            <h2>Edit User Information</h2>
            <p>Admins will be able to edit another user's information (email address, first name, last name, etc).</p>
        </div>
    </div>
{% endblock %}