{% extends "base.html" %}
{% block content %}
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div class="profile">
        <p>
            <div class="col">Registered at:</div>
            <div class="col">{{user.created_at}}</div>
        </p>
        <p>
            <div class="col">User ID:</div>
            <div class="col">#{{user.id}}</div>
        </p>
        <p>
            <div class="col">Email address:</div>
            <div class="col">{{user.email}}</div>
        </p>
        <p>
            <div class="col">Description:</div>
            <div class="col">{{user.description}}</div>
        </p>
        <h2>Leave a message for {{user.first_name}}</h2>
        <form action="/message" method="post">
            {% csrf_token %}
            <input type="hidden" name="recipient_id" value="{{user.id}}"/>
            <textarea name="message"></textarea>
            <input type="submit" value="Post"/>
        </form>
        {% for message in messages %}
            <h3>{{ message.author.first_name }} {{ message.author.last_name }} wrote </h3>
            <span>message.created_at</span>
            <p>{{ message.text }}</p>
            {% for comment in message.comments %}
                <h4>{{ message.author.first_name }} {{ message.author.last_name }} wrote </h4>
                <span>comment.created_at</span>
                <p>{{comment.text}}</p>
            {% endfor %}
            <form action="/comment" method="post">
                {% csrf_token %}
                <input type="hidden" name="recipient_id" value="{{user.id}}"/>
                <input type="hidden" name="message_id" value="message.id"/>
                <textarea name"comment"></textarea>
                <input type="submit" value="Post"/>
            </form>
        {% endfor %}
    </div>
{% endblock %}