<html>
<head>
  <title>Login or register</title>
  <style>
      .col{
          display:inline-block;
      }
      .row{
          display:block;
      }
      p{
          background-color: red;
          color:white;
          border: 2px solid black;
          padding: 5px;
          text-align:center;
      }
      table{
          border-collapse: collapse;
      }
      tr, td{
          border: 1px solid black;
      }
  </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>Users</h1>
<table>
    <thead>
        <tr>
            <td>id</td>
            <td>Full Name</td>
            <td>Email</td>
            <td>Created At</td>
            <td>Actions</td>
        </tr>
    </thead>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.created_at }}</td>
            <td>
                <a href="/users/{{user.id}}">Show</a>
                <a href="/users/{{user.id}}/edit">Edit</a>
                <a href="/users/{{user.id}}/destroy">Delete</a>
            </td>
        </tr>
    {% endfor %}
</table>

<a href="/users/new">Add a new user</a>

</body>
</html>