<html>
<head>
  <title>User</title>
  <style>
      .col{
          display:inline-block;
      }
      .row{
          display:block;
      }
      .message{
          background-color: red;
          color:white;
          border: 2px solid black;
          padding: 5px;
          text-align:center;
      }
  </style>
</head>
<body>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p class="message">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<h1>User {{ user.id }}</h1>
<p>Full Name: {{ user.first_name }} {{ user.last_name }}</p>
<p>Email: {{ user.email }}</p>
<p>Created at: {{ user.created_at }}</p>
<p><a href="/users/{{user.id}}/edit">Edit</a> | <a href="/users/{{user.id}}/destroy">Delete</a></p>
</body>
</html>