<html>
<head>
  <title>Books</title>
  <style>
      .row{
          display:block;
      }
      .col{
          display:inline-block;
      }
      .left{
          width: 100px;
      }
      body{
          text-align:center;
      }
  </style>
</head>
<body>
<h1>Add a Book</h1>
<form action="/confirmAdd" method="post">
    <div class="row">
        <label for="title" class="col left">Title</label>
        <input type="text" name="title"/>
    </div>
    <div class="row">
        <label for="author" class="col left">Author</label>
        <input type="text" name="author"/>
    </div>
    <input type="submit" value="Add book!">
</form>
</body>
</html>