<html>
<head>
  <title>Books</title>
  <style>
      table{
          border-collapse:collapse:
      }
      td{
          border: 1px solid black;
      }
  </style>
</head>
<body>
<h1>My Books</h1>
<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Author</td>
            <td>Date Added</td>
            <td>Action</td>
        </tr>
    </thead>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.created_at }}</td>
            <td><a href="/destroy/{{book.id}}">Delete</a></td>
        </tr>
        {% endfor %}
</table>
<a href="/add"><button>Add a book</button></a>
</body>
</html>