<h1>Registration</h1>
<div *ngIf='successMessage'>{{successMessage}}</div>
<form (submit)="onSubmit()">
  <div id="inputBox">
    <h2>Account Information</h2>
    <div class="form-group">
      <label for="first_name">*First Name:</label>
      <input type="text" name="first_name" [(ngModel)]="user.first_name" #firstName="ngModel" required/>
      <div *ngIf='firstName.errors && firstName.errors.required && (firstName.touched || firstName.dirty)' class="error">
        A first name is required!
      </div>
    </div>
    <div class="form-group">
      <label for="last_name">*Last Name:</label>
      <input type="text" name="last_name" [(ngModel)]="user.last_name" required #lastName="ngModel"/>
      <div *ngIf='lastName.errors && lastName.errors.required && (lastName.touched || lastName.dirty)' class="error">
          A last name is required!
      </div>
    </div>
    <div class="form-group">
      <label for="email">*Email:</label>
      <input type="text" name="email" [(ngModel)]="user.email" required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' #email="ngModel"/>
      <div *ngIf='email.errors && (email.errors.pattern || email.errors.required) && (email.touched || email.dirty)' class="error">
        Please enter a valid email address!
      </div>
    </div>
    <div class="form-group">
      <label for="password">*Password:</label>
      <input type="password" name="password" [(ngModel)]="user.password" required minlength="16" #password="ngModel"/>
      <div *ngIf='password.errors && (password.errors.minlength || password.errors.required) && (password.touched || password.dirty)' class="error">
          A password must be at least 16 characters in length!
      </div>
    </div>
    <div class="form-group">
      <label for="password_confirmation">*Password Confirmation:</label>
      <input type="password" name="password_confirmation" [(ngModel)]="user.password_confirmation" required #passwordConfirmation="ngModel"/>
      <div *ngIf='user.password !== user.password_confirmation && (passwordConfirmation.touched || passwordConfirmation.dirty)' class="error">
          Password confirmation must match password!
      </div>
    </div>
    <div class="form-group">
      <label for="street_address">*Street Address:</label>
      <input type="text" name="street_address" [(ngModel)]="user.street_address" required #streetAddress="ngModel"/>
      <div *ngIf='streetAddress.errors && streetAddress.errors.required && (streetAddress.touched || streetAddress.dirty)' class="error">
          A street address is required!
      </div>
    </div>
    <div class="form-group">
      <label for="unit_apt">Unit/Apt #:</label>
      <input type="text" name="unit_apt" [(ngModel)]="user.unit_apt" #unitApt="ngModel"/>
    </div>
    <div class="form-group">
      <label for="city">*City:</label>
      <input type="text" name="city" [(ngModel)]="user.city" required #city="ngModel"/>
      <div *ngIf='city.errors && city.errors.required && (city.touched || city.dirty)' class="error">
          A city is required!
      </div>
    </div>
    <div class="form-group">
        <label for="state">*State:</label>
        <select name="state" [(ngModel)]="user.state" required #state="ngModel">
          <option value="Alaska">Alaska</option>
          <option value="Hawaii">Hawaii</option>
        </select>
        <div *ngIf='state.errors && state.errors.required && (state.touched || state.dirty)' class="error">
            A state is required!
        </div>
    </div>
    <div class="form-group">
      <label for="lucky">*I'm feeling lucky</label>
      <input type="radio" name="lucky" [value]="true" [(ngModel)]="user.lucky" required #lucky="ngModel"/> Yes
      <input type="radio" name="lucky" [value]="false" [(ngModel)]="user.lucky" required/> No
      <div *ngIf='lucky.errors && lucky.errors.required && (lucky.touched || lucky.dirty)' class="error">
          Choosing how you feel is required!
      </div>
    </div>
  </div>
  <input *ngIf='!lucky.errors && !state.errors && !city.errors && !streetAddress.errors && (user.password === user.password_confirmation) && !password.errors && !email.errors && !lastName.errors && !firstName.errors' type="submit" value="Register"/>
</form>