<html>
    <head>
        <style>
            body{
                padding:20px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>Welcome, <%= first_name %>!</h1>
        <a href="/logout">Log Out</a>
    </body>
</html>