<app-quoteform (newQuoteEmitter)="addQuote($event)"></app-quoteform>
<h1>Quotes List</h1>
<div class="quote" *ngFor="let quote of quotes; let idx = index;">
    <div class="row">
        <div class="col-xs-7">
            <p>"{{quote.content}}"</p>
            <p> - {{quote.author}}</p>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-2">
            <span *ngIf="quote.votes > 0">+</span>
            {{quote.votes}}
          </div>
          <div class="col-xs-2">
            <button class="up" (click)="upvoteQuote(idx)">Vote Up</button>
            <br/>
            <button class="down" (click)="downvoteQuote(idx)">Vote Down</button>
            <br />
            <button class="delete" (click)="deleteQuote(idx)">Delete</button>
            <br />
          </div>
    </div>
</div>