<form #form="ngForm" class="whiteBox" (submit)="edit()" >
    <div class="col">
      <div class="form-group">
          <label for="title">Title:</label>
          <input type="text" name="title" [(ngModel)]="bike.title" required #title="ngModel"/>
          <div *ngIf="title.errors && (title.touched || title.dirty)">Title is required!</div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" name="description" [(ngModel)]="bike.description" required maxlength="200" #description="ngModel"/>
        <div *ngIf="description.errors && (description.touched || description.dirty)">A description, under 200 characters, is required!</div>
      </div>
      <div class="form-group">
        <label for="imgURL">Image URL:</label>
        <input type="text" name="imgURL" [(ngModel)]="bike.imgURL" required #imgURL="ngModel"/>
        <div *ngIf="imgURL.errors && (imgURL.touched || imgURL.dirty)">Image URL is required!</div>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" name="price" step="0.01" minvalue="1.0" [(ngModel)]="bike.price" required #price="ngModel" />
        <div *ngIf="price.errors && (price.touched || price.dirty)">Price must be a number of 1 or greater!</div>
      </div>
      <div class="location">
        <label for="location">Location:</label>
        <input type="text" name="location" [(ngModel)]="bike.location" required #location="ngModel"/>
        <div *ngIf="location.errors && (price.touched || price.dirty)">A location is required!</div>
      </div>
      <input type="submit" value="UPDATE" [disabled]="!form.valid"/>
      <br />
      <button (click)="delete()">DELETE</button>
    </div>
    <div *ngIf="errorMsg">{{errorMsg}}</div>
  </form>