<html>
    <head>
        <title>Current Date and Time</title>
        <style>
            body{
                text-align:center;
            }
            .box{
                margin-top:10px;
                padding-left:30px;
                padding-right:30px;
                border: 2px solid black;
                padding-top:10px;
                padding-bottom:10px;
            }
            .big{
                font-size:2em;
            }
        </style>
    </head>
    <body>
        <div class="box">The current time and date:</div>
        <div class="box big">
            <p>{{date}}</p>
            <p>{{time}}</p>
        </div>
    </body>
</html>