<html>
    <head>
        <style>
            form > *{
                display:flex;
                flex-direction: column;
            }
            li{
                color:red;
            }
        </style>
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        <h1>Add a new user</h1>
        <form action="/users/create" method="POST">
            {% csrf_token %}
            <label for="first_name">First name:</label>
            <input type="text" name="first_name" value="{{first_name}}"/>
            <label for="last_name">Last name:</label>
            <input type="text" name="last_name" value="{{last_name}}"/>
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{email}}"/>
            <input type="submit" value="Create"/>
        </form>
        <a href="/users">Go Back</a>
    </body>
</html>