<html>
    <head>
        <style>
            tr, td{
                border: 1px solid black;
            }
            table{
                border-collapse:collapse;
            }
        </style>
    </head>
    <body>
        <h1>Users</h1>
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Created At</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.created_at}}</td>
                        <td>
                            <a href="/users/{{user.id}}">Show</a>
                            <a href="/users/{{user.id}}/edit">Edit</a>
                            <a href="/users/{{user.id}}/destroy">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/users/new">Add a new user</a>
    </body>
</html>